tml,body {


height:100%;


}



*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #313D52;
}

header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #fff;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 200%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
header {



display:block;


background: #FFFFFF;


padding:10px 0px;
}

section {


width: 79%;


background: #F9E37C;


float: left;


overflow: auto;


padding-bottom: 60px;


padding-top:30px;


}



aside {


float: right;


border: 1px solid red;


width: 19%;


border: 1px solid red;


/*Si quisieramos ocultar el contenido 

relacionado pondriamos visibility a hidden*/


/*visibility: hidden;*/


}
footer {




position: relative;


margin-top: -50px;


height: 40px;


padding:5px 0px;


clear: both;


background: #FFFFFF;


text-align: center;


color: #fff;


}
figure {
display: table; margin: 0 auto;
}


